<!DOCTYPE html>
<html>
<head>
  <% include ../partials/headercontent %>
  <script src="scripts/textApp.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group is-empty">
            <div class="col-md-12">
              <h3>Text:</h3>
              <textarea class="form-control" rows="3" id="text"></textarea>
              <a id="buttonStart" class="btn btn-raised btn-primary">Start<div class="ripple-container"></div></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
