<!DOCTYPE html>
<html>
<head>
  <% include ../partials/headercontent %>
  <script src="scripts/textApp.js"></script>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group is-empty">
            <div class="col-md-12">
              <h3>Text:</h3>
              <textarea class="form-control" rows="3" id="text"></textarea>
              <div class="checkbox">
                <a id="buttonStart" class="btn btn-raised btn-primary">Start<div class="ripple-container"></div></a>
                <label>
                  <input type="checkbox" id="animationCheckbox"><span class="checkbox-material"><span class="check"></span></span> Animation
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <h3 id="volumetext">Lautstärke:</h3>
              <a id="buttonVup" class="btn btn-raised btn-primary">Lauter<div class="ripple-container"></div></a>
              <a id="buttonVdown" class="btn btn-raised btn-primary">Leiser<div class="ripple-container"></div></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
