<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/headercontent %>
    <script src="scripts/movementApp.js"></script>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="togglebutton">
            <a id="buttonShakeHand" class="btn btn-raised btn-primary">Hand sch체tteln<div class="ripple-container"></div></a>
            <label style="margin-left: 50px">
              <input type="checkbox" id="AutonomousAbilityToggle" checked=""><span class="toggle"></span>
                AutonomousAbility
            </label>
          </div>
          <h3>Kopf:</h3>
          <a id="buttonLeft" class="btn btn-raised btn-primary">Links<div class="ripple-container"></div></a>
          <a id="buttonRight" class="btn btn-raised btn-primary">Rechts<div class="ripple-container"></div></a>
          <a id="buttonUp" class="btn btn-raised btn-primary">Hoch<div class="ripple-container"></div></a>
          <a id="buttonDown" class="btn btn-raised btn-primary">Runter<div class="ripple-container"></div></a>
        </div>
        <div class="col-md-6">
          <h3>Fortbewegung:</h3>
          <a id="buttonTurnLeft" class="btn btn-raised btn-primary">
            Nach links drehen
            <div class="ripple-container"></div>
          </a>
          <a id="buttonTurnRight" class="btn btn-raised btn-primary">
            Nach rechts drehen
            <div class="ripple-container"></div>
          </a>
          <a id="buttonMoveForward" class="btn btn-raised btn-primary">
            Vorw채rts
            <div class="ripple-container"></div>
          </a>
          <a id="buttonMoveBackward" class="btn btn-raised btn-primary">
            R체ckw채rts
            <div class="ripple-container"></div>
          </a>
        </div>
    </div>
  </body>
</html>
