<meta charset="utf-8"></meta>
<title>Pepper App</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="bootstrap-material-design/dist/css/bootstrap-material-design.min.css"></link>
<link rel="stylesheet" type="text/css" href="bootstrap-material-design/dist/css/ripples.min.css">
<link rel="stylesheet" type="text/css" href="mdbootstrap/css/mdb.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap3-dialog/src/css/bootstrap-dialog.css">
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="bootstrap3-dialog/src/js/bootstrap-dialog.js"> </script>
