<script src="scripts/loadBatteryStat.js"></script>
<script src="mdbootstrap/js/mdb.min.js"></script>
<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Menü</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li id="navbarText"><a href="/">Text</a></li>
        <li id="navbarMovement"><a href="/movement">Bewegung</a></li>
        <li id="navbarLed"><a href="/leds">LEDs</a></li>
        <li id="navbarTablet"><a href="/tablet">Tablet</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="batteryIndicator"></a></li>
      </ul>
    </div>
  </div>
</div>
<script src="scripts/navbar.js"></script>
